body{
    background-color: lightgray;
}

.titulo-principal{
    
    text-align: center;
}

.contenido-principal{
    /*Medidas relativas*/
    width: 800px;
    margin: 0 auto;

}

.encavezado{
    background-color: gray;
    color: white;
    padding: 10px 5px;
}

.contenido-principal .encavezado{
    background-color: gray;
    color: white;
    

}