body{
    margin: 0;
    padding: 0;
}



.menu{
    background-color: #e48b8b;
    height: 50px;
}

.menu ul{
    width: 700px;
    margin: 0 auto;
    width: max-content;
    text-align: center;
}

.elemento{
    display: inline-block;
    margin: 0 20px;
}

.elemento a {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    line-height: 50px;
    font-family: 'Roboto Slab', serif;
    transition: color 0.5s;/*Da una transicion de color, como difuminado*/
}

.elemento a:hover {
    color: black;
    
    


}